.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    align-items: center;
    width: 30vw;
    margin: 100px auto;
}
form{
    width: 80%;
}
.sub{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.sub input{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: solid grey 1px;
}
button{
    background-color: #f5496c;
    padding: 10px 40px;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
}
button:hover{
    cursor: pointer;
}